* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

strong {
  font-weight: 600;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #111517;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App-dark {
  background-color: #202c37;
}

.App-light {
  background-color: #fafafa;
}

.country-list {
  min-height: calc(100vh - 221px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .country-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 42.5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Country {
  width: 264px;
  max-height: 336px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  margin: 40px auto;
}

@media only screen and (min-width: 1440px) {
  .Country {
    margin: 37px;
    margin-top: 0px;
    margin-bottom: 75px;
  }
}

.Country figure {
  height: 160px;
  /*container-width*/
  overflow: hidden;
  /*hide bounds of image */
  margin: 0;
  /*reset margin of figure tag*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px 5px 0 0;
}

.Country figure img {
  display: block;
  /*remove inline-block spaces*/
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.Country .container {
  margin-left: 24px;
  margin-top: 24px;
}

.Country .container h2 {
  font-size: 18px;
  font-weight: 800;
}

.Country .container .details {
  margin-top: 16px;
  padding-bottom: 46px;
}

.Country .container .details p {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
}

.Country-light {
  background-color: white;
}

.Country-dark {
  background-color: #2b3945;
  color: white;
}

.Country:hover {
  cursor: pointer;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 343px;
  height: 141px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1439px) {
  .filters {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .filters {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 80px;
  }
}

.filters .country-search {
  position: relative;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1439px) {
  .filters .country-search {
    margin-bottom: 30px;
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .filters .country-search {
    padding: 0;
    margin: 0;
  }
}

.filters .country-search input {
  border: none;
  margin: 10px;
  margin-left: 0px;
  font-size: 20px;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 20px;
  border-radius: 3px;
  width: 343px;
  height: 48px;
  outline: none;
}

@media only screen and (min-width: 1440px) {
  .filters .country-search input {
    width: 480px;
    height: 56px;
    padding: 16px 20px;
  }
}

.filters .country-search .placeholder {
  position: absolute;
  font-size: 12px;
  left: 32px;
  top: calc(50% + 10px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #858585;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media only screen and (min-width: 1440px) {
  .filters .country-search .placeholder {
    top: 50%;
  }
}

.filters .country-search .placeholder .placeholder-message {
  margin-left: 26px;
}

.filters .country-search input:focus + .placeholder,
.filters .country-search input:valid + .placeholder {
  opacity: 0;
}

.filters .country-search .placeholder:hover {
  cursor: text;
}

.filters .country-search-dark input {
  background-color: #2b3945;
  color: white;
}

.filters .country-search-dark .placeholder {
  color: white;
}

.filters .country-search-light input {
  background-color: white;
}

.filters .country-search-light .placeholder {
  color: #858585;
}

.filters .region-search {
  font-size: 12px;
  width: 200px;
  border-radius: 5px;
}

.filters .region-search ul {
  list-style: none;
}

.filters .region-search .menu-ctn > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 16px 19px 16px 24px;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  width: 100%;
  text-align: left;
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .filters .region-search .menu-ctn > li {
    padding: 18px 19px 19px 24px;
    font-size: 14px;
  }
}

.filters .region-search .menu-ctn li:hover {
  cursor: pointer;
}

.filters .region-search #drop-down {
  display: none;
  position: absolute;
  width: 100%;
  top: 108%;
  left: 0;
  z-index: 1;
  text-align: left;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}

@media only screen and (min-width: 1440px) {
  .filters .region-search #drop-down {
    font-size: 14px;
  }
}

.filters .region-search #drop-down li {
  padding: 14px 15px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding-left: 24px;
}

.filters .region-search #drop-down li:first-child {
  border-radius: 5px 5px 0 0;
}

.filters .region-search #drop-down li:last-child {
  border-radius: 0 0 5px 5px;
}

.filters .region-search #drop-down li:hover {
  background-color: #b2b2b2;
}

.filters .region-search #drop-down .selected {
  display: none;
}

.filters .region-search #drop-down.active {
  display: block;
}

.filters .region-search #drop-down.in-active {
  display: none;
}

.filters .region-search-dark {
  background-color: #2b3945;
  color: white;
}

.filters .region-search-dark #drop-down {
  background-color: #2b3945;
}

.filters .region-search-light {
  background-color: white;
}

.filters .region-search-light #drop-down {
  background-color: white;
}

.Heading {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.Heading .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 16px;
}

@media only screen and (min-width: 1440px) {
  .Heading .container {
    margin: 23px 80px;
  }
}

.Heading .container h1 {
  font-size: 14px;
  font-weight: 800;
}

@media only screen and (min-width: 1440px) {
  .Heading .container h1 {
    font-size: 24px;
  }
}

.Heading .container .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Heading .container .mode h3 {
  font-size: 12px;
  font-weight: 600;
  margin-left: 8px;
}

@media only screen and (min-width: 1440px) {
  .Heading .container .mode h3 {
    font-size: 16px;
  }
}

.Heading .container .mode:hover {
  cursor: pointer;
}

.Heading-dark {
  background-color: #2b3945;
  color: white;
}

.Heading-light {
  background-color: white;
}

.CountryDetails {
  min-height: calc(100vh - 80px);
  width: 320px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails {
    width: 1278px;
  }
}

.CountryDetails .button {
  background-color: white;
  width: 104px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
          box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 64px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails .button {
    width: 136px;
  }
}

@media only screen and (min-width: 1440px) {
  .CountryDetails .button {
    border-radius: 6px;
  }
}

@media only screen and (min-width: 1440px) {
  .CountryDetails .button {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.CountryDetails .button .container {
  padding: 7px 23px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails .button .container {
    padding: 10px 23px;
  }
}

.CountryDetails .button .container .arrow-left-icon {
  margin-right: 8px;
}

.CountryDetails .button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1278px;
  }
}

.CountryDetails main .flag {
  text-align: center;
  margin-bottom: 38px;
}

.CountryDetails main .flag img {
  width: 320px;
  border-radius: 5px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails main .flag img {
    width: 560px;
    margin-right: 144px;
  }
}

@media only screen and (min-width: 1440px) {
  .CountryDetails main .details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 574px;
  }
}

.CountryDetails main .details-container p {
  font-weight: 300;
}

.CountryDetails main .details-container .details-1 h1 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 16px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails main .details-container .details-1 h1 {
    font-size: 32px;
    margin-bottom: 23px;
  }
}

.CountryDetails main .details-container .details-1 p {
  margin-bottom: 16px;
}

.CountryDetails main .details-container .details-2 {
  margin-top: 32px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails main .details-container .details-2 {
    margin-top: 67px;
  }
}

.CountryDetails main .details-container .details-2 p {
  margin-bottom: 16px;
}

.CountryDetails main .border-countries {
  margin-top: 34px;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails main .border-countries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: 574px;
  }
}

.CountryDetails main .border-countries h3 {
  font-weight: 600;
  margin-bottom: 6px;
}

@media only screen and (min-width: 1440px) {
  .CountryDetails main .border-countries h3 {
    margin-right: 16px;
  }
}

.CountryDetails main .border-countries .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.CountryDetails-dark {
  color: white;
  background-color: #202c37;
}

.CountryDetails-dark .button {
  color: white;
  background-color: #2b3945;
}

.CountryDetails-light {
  color: #111517;
}

.CountryDetails-light .button {
  color: #111517;
  background-color: white;
}

.Country-button {
  width: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: ccenter;
      -ms-flex-align: ccenter;
          align-items: ccenter;
  background-color: white;
  margin: 10px 10px 10px 0;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
}

.Country-button p {
  display: block;
  padding: 6px;
  font-size: 12px;
  font-weight: 300;
  word-wrap: break-word;
}

.Country-button:hover {
  cursor: pointer;
}

.Country-button-dark {
  background-color: #2b3945;
  color: white;
}

.Country-button-light {
  background-color: white;
  color: #111517;
}
/*# sourceMappingURL=styles.css.map */