//mobile first

@import "colors";
@import "media-queries";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: $very-dark-blue-text;
}

.App {
  //  background-color: $very-light-gray;
  //min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-dark {
  background-color: $very-dark-blue-bg;
}

.App-light {
  background-color: $very-light-gray;
}

//-------------------------------------------------------------------//
// Country-List Component Styling                                    //
//-------------------------------------------------------------------//

.country-list {
  min-height: calc(100vh - 221px); //prevents the janky loading due to flexbox
} //min height is 100% view port - filters and - Heading

//-------------------------------------------------------------------//
// Country Component Styling                                         //
//-------------------------------------------------------------------//

.Country {
  width: 264px;
  max-height: 336px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  margin: 40px auto;
  // img {
  //   width: 100%;
  //   border-radius: 5px 5px 0 0;
  // }
  figure {
    height: 160px; /*container-width*/
    overflow: hidden; /*hide bounds of image */
    margin: 0; /*reset margin of figure tag*/
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    img {
      display: block; /*remove inline-block spaces*/
      object-fit: cover;
      width: 100%;
    }
  }

  .container {
    margin-left: 24px;
    margin-top: 24px;
    h2 {
      font-size: 18px;
      font-weight: 800;
    }
    .details {
      margin-top: 16px;
      p {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 300;
      }
      padding-bottom: 46px;
    }
  }
}

.Country-light {
  background-color: $white;
}

.Country-dark {
  background-color: $dark-blue;
  color: $white;
}

.Country:hover {
  cursor: pointer;
}

//-------------------------------------------------------------------//
// Filters Styling                                                   //
//-------------------------------------------------------------------//

.filters {
  display: flex;
  width: 343px;
  height: 141px;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  .country-search {
    position: relative;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: 5px;
    input {
      border: none;
      margin: 10px;
      margin-left: 0px;
      font-size: 20px;

      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
      border-radius: 5px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 12px 20px;
      border-radius: 3px;
      width: 343px;
      height: 48px;
      outline: none;
    }

    .placeholder {
      position: absolute;
      font-size: 12px;
      left: 32px;
      top: calc(50% + 10px);
      transform: translateY(-50%);
      display: flex;
      font-weight: 400;
      align-items: center;
      color: $dark-gray;
      transition: opacity 0.3s ease;
      .placeholder-message {
        margin-left: 26px;
      }
    }

    input:focus + .placeholder,
    input:valid + .placeholder {
      opacity: 0;
    }
    .placeholder:hover {
      cursor: text;
    }
  }

  .country-search-dark {
    input {
      background-color: $dark-blue;
      color: $white;
    }
    .placeholder {
      color: $white;
    }
  }
  .country-search-light {
    input {
      background-color: $white;
    }
    .placeholder {
      color: $dark-gray;
    }
  }
  //------------------------------
  //for the dropdown menu
  //------------------------------
  .region-search {
    font-size: 12px;
    width: 200px;
    border-radius: 5px;
    ul {
      list-style: none;
    }

    .menu-ctn > li {
      //would normally be set in a navbar, so i can reuse i'll leave it as a ul-li
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      // background-color: $white;
      padding: 16px 19px 16px 24px;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
      // border-radius: 5px;
      width: 100%;
      text-align: left;
      position: relative;
    }

    .menu-ctn li:hover {
      cursor: pointer;
    }
    #drop-down {
      display: none;
      position: absolute;
      width: 100%;
      top: 108%;
      left: 0;
      z-index: 1;
      text-align: left;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);

      border-radius: 5px;

      li {
        padding: 10px 15px;
        transition: background-color 0.3s ease;
        padding-left: 24px;
      }
      li:first-child {
        border-radius: 5px 5px 0 0;
      }
      li:last-child {
        border-radius: 0 0 5px 5px;
      }
      li:hover {
        background-color: #b2b2b2;
      }
      .selected {
        display: none;
      }
    }
    #drop-down.active {
      display: block;
    }
    #drop-down.in-active {
      display: none;
    }
  }
  .region-search-dark {
    background-color: $dark-blue;
    color: $white;
    #drop-down {
      background-color: $dark-blue;
    }
  }
  .region-search-light {
    background-color: $white;
    #drop-down {
      background-color: $white;
    }
  }
}

//-------------------------------------------------------------------//
// Heading Styling                                                   //
//-------------------------------------------------------------------//

.Heading {
  width: 100%;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 2;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 16px;
    h1 {
      font-size: 14px;
      font-weight: 800;
    }

    .mode {
      display: flex;
      h3 {
        font-size: 12px;
        font-weight: 600;
        margin-left: 8px;
      }
    }
    .mode:hover {
      cursor: pointer;
    }
  }
}

.Heading-dark {
  background-color: $dark-blue;
  color: $white;
}
.Heading-light {
  background-color: $white;
}

//-------------------------------------------------------------------//
// Country Details Styling                                           //
//-------------------------------------------------------------------//

.CountryDetails {
  min-height: calc(100vh - 80px); //minus the size of the Heading
  width: 320px;

  .button {
    background-color: $white;
    width: 104px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 64px;
    .container {
      padding: 7px 23px;
      .arrow-left-icon {
        margin-right: 8px;
      }
    }
  }

  .button:hover {
    cursor: pointer;
  }

  main {
    .flag {
      text-align: center;
      img {
        width: 320px;
        // max-height: 229px;
        border-radius: 5px;
      }
      margin-bottom: 38px;
    }
    .details-container {
      p {
        font-weight: 300;
      }
      .details-1 {
        h1 {
          font-size: 22px;
          font-weight: 800;
          margin-bottom: 16px;
        }
        p {
          margin-bottom: 16px;
        }
      }
      .details-2 {
        margin-top: 32px;
        p {
          margin-bottom: 16px;
        }
      }
    }
    .border-countries {
      margin-top: 34px;
      margin-bottom: 50px;

      h3 {
        font-weight: 600;
        margin-bottom: 6px;
      }
      .container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
      }
    }
  }
}

.CountryDetails-dark {
  color: $white;
  background-color: $very-dark-blue-bg;
  .button {
    color: $white;
    background-color: $dark-blue;
  }
}

.CountryDetails-light {
  color: $very-dark-blue-text;
  .button {
    color: $very-dark-blue-text;
    background-color: $white;
  }
}

//-------------------------------------------------------------------//
// Country Button Styling                                            //
//-------------------------------------------------------------------//

.Country-button {
  //height: 28px;
  width: 96px;

  display: flex;
  justify-content: center;
  align-items: ccenter;
  background-color: $white;
  margin: 10px 10px 10px 0;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
  p {
    display: block;
    padding: 6px;
    font-size: 12px;
    font-weight: 300;
    word-wrap: break-word;
  }
}

.Country-button:hover {
  cursor: pointer;
}

.Country-button-dark {
  background-color: $dark-blue;
  color: $white;
}

.Country-button-light {
  background-color: $white;
  color: $very-dark-blue-text;
}
