* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

strong {
  font-weight: 600;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #111517;
}

.App {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App-dark {
  background-color: #202c37;
}

.App-light {
  background-color: #fafafa;
}

.country-list {
  min-height: 100vh;
}

.Country {
  width: 264px;
  max-height: 336px;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  margin: 40px auto;
}

.Country figure {
  height: 160px;
  /*container-width*/
  overflow: hidden;
  /*hide bounds of image */
  margin: 0;
  /*reset margin of figure tag*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px 5px 0 0;
}

.Country figure img {
  display: block;
  /*remove inline-block spaces*/
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.Country .container {
  margin-left: 24px;
  margin-top: 24px;
}

.Country .container h2 {
  font-size: 18px;
  font-weight: 800;
}

.Country .container .details {
  margin-top: 16px;
  padding-bottom: 46px;
}

.Country .container .details p {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
}

.Country-light {
  background-color: white;
}

.Country-dark {
  background-color: #2b3945;
  color: white;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 343px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filters .country-search {
  position: relative;
  font-size: 16px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.filters .country-search input {
  border: none;
  margin: 10px;
  margin-left: 0px;
  font-size: 20px;
  background: white;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 20px;
  border-radius: 3px;
  width: 343px;
  height: 48px;
  outline: none;
}

.filters .country-search .placeholder {
  position: absolute;
  font-size: 12px;
  left: 32px;
  top: calc(50% + 10px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #858585;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.filters .country-search .placeholder .placeholder-message {
  margin-left: 26px;
}

.filters .country-search .placeholder .placeholder-icon {
  color: #858585;
}

.filters .country-search input:focus + .placeholder,
.filters .country-search input:valid + .placeholder {
  opacity: 0;
}

.filters .country-search .placeholder:hover {
  cursor: text;
}

.filters .region-search {
  font-size: 12px;
  width: 200px;
  border-radius: 5px;
}

.filters .region-search ul {
  list-style: none;
}

.filters .region-search .menu-ctn > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 16px 19px 16px 24px;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  width: 100%;
  text-align: left;
  position: relative;
}

.filters .region-search .menu-ctn li:hover {
  cursor: pointer;
}

.filters .region-search #drop-down {
  display: none;
  position: absolute;
  width: 100%;
  top: 108%;
  left: 0;
  z-index: 1;
  text-align: left;
  -webkit-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
          box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}

.filters .region-search #drop-down li {
  padding: 10px 15px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding-left: 24px;
}

.filters .region-search #drop-down li:first-child {
  border-radius: 5px 5px 0 0;
}

.filters .region-search #drop-down li:last-child {
  border-radius: 0 0 5px 5px;
}

.filters .region-search #drop-down li:hover {
  background-color: #b2b2b2;
}

.filters .region-search #drop-down .selected {
  background-color: #b2b2b2;
}

.filters .region-search #drop-down.active {
  display: block;
}

.filters .region-search #drop-down.in-active {
  display: none;
}

.filters .region-search-dark {
  background-color: #2b3945;
  color: white;
}

.filters .region-search-dark #drop-down {
  background-color: #2b3945;
}

.filters .region-search-light {
  background-color: white;
}

.filters .region-search-light #drop-down {
  background-color: white;
}

.Heading {
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.Heading .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 16px;
}

.Heading .container h1 {
  font-size: 14px;
  font-weight: 800;
}

.Heading .container .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Heading .container .mode h3 {
  font-size: 12px;
  font-weight: 600;
  margin-left: 8px;
}

.Heading .container .mode:hover {
  cursor: pointer;
}

.Heading-dark {
  background-color: #2b3945;
  color: white;
}

.Heading-light {
  background-color: white;
}
/*# sourceMappingURL=styles.css.map */