//mobile first

@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

strong {
  font-weight: 600;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.App {
  background-color: $very-light-gray;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

//-------------------------------------------------------------------//
// Country Component Styling                                         //
//-------------------------------------------------------------------//

.Country {
  width: 264px;
  max-height: 336px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  margin: 40px auto;
  // img {
  //   width: 100%;
  //   border-radius: 5px 5px 0 0;
  // }
  figure {
    height: 160px; /*container-width*/
    overflow: hidden; /*hide bounds of image */
    margin: 0; /*reset margin of figure tag*/
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    img {
      display: block; /*remove inline-block spaces*/
      object-fit: cover;
      width: 100%;
    }
  }

  .container {
    margin-left: 24px;
    margin-top: 24px;
    h2 {
      font-size: 18px;
      font-weight: 800;
    }
    .details {
      margin-top: 16px;
      p {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 300;
      }
      padding-bottom: 46px;
    }
  }
}

.Country-light {
  background-color: white;
}

//-------------------------------------------------------------------//
// Filters Styling                                                    //
//-------------------------------------------------------------------//

.filters {
  display: flex;
  justify-content: center;
  .country-search {
    position: relative;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom: 5px;
    input {
      border: none;
      margin: 10px;
      font-size: 20px;

      background: #ffffff;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
      border-radius: 5px;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 12px 20px;
      border-radius: 3px;
      width: 343px;
      height: 48px;
      outline: none;
    }
    .placeholder {
      position: absolute;
      font-size: 12px;
      left: 32px;
      top: calc(50% + 10px);
      transform: translateY(-50%);
      display: flex;
      font-weight: 400;
      align-items: center;
      color: #c4c4c4;
      transition: opacity 0.3s ease;
      .placeholder-message {
        margin-left: 26px;
      }
      .placeholder-icon {
        color: #b2b2b2;
      }
    }
    input:focus + .placeholder,
    input:valid + .placeholder {
      // top: 20px;
      // font-size: 10px;
      // border-color: #222;
      opacity: 0;
    }
    .placeholder:hover {
      cursor: text;
    }
  }
  .region-search {
    font-size: 14px;
    ul {
      list-style: none;
    }
    .menu-ctn > li {
      display: inline-block;
      background-color: white;
      padding: 10px 15px;
      transition: all 0.8s ease;
      position: relative;
    }

    .menu-ctn li:hover {
      cursor: pointer;
      background-color: lightblue;
    }
    #drop-down {
      display: none;
      position: absolute;

      width: 100%;
      top: 100%;
      left: 0;
      background-color: salmon;
      z-index: 1;
      text-align: center;
      li {
        padding: 10px 15px;
      }
    }
    #drop-down.active {
      display: block;
    }
    #drop-down.in-active {
      display: none;
    }
  }
}
